:root{
    --background-color: #212529;
    --primary-rgb: #fff;
}

body{
    font-family: 'Inter', serif;
    font-weight: 300;
    font-size: 20px;
    background-image: url(../img/noise-bg.png);
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.container-fluid-custom{
    max-width: 1600px;
    margin: auto;
}

.btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
 .home{
        background: 
        url('../img/human-1.svg') left bottom no-repeat,
        url('../img/human-2.svg') right bottom no-repeat,
        url('../img/noise-bg.svg') left top repeat;
}    

@media only screen and (max-width: 1000px){
    .login{
        display: none;
    }

    .signup{
        display: none;
    }
    .home{
        background-image: none;
    }
}