:root{
    --background-color: #212529;
    --primary-rgb: #fff;
}

body{
    font-family: 'Inter', serif;
    font-weight: 300;
    font-size: 20px;
    background-image: url(../img/noise-bg.png);
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.container-fluid-custom{
    max-width: 1600px;
}

.btn{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
 .home{
        background: 
        url('../img/human-1.svg') left bottom no-repeat,
        url('../img/human-2.svg') right bottom no-repeat,
        url('../img/noise-bg.svg') left top repeat;
        height: 83vh;
}    

.about{
    margin-top: 30px;
    height: 80vh;
    background: 
        url('../img/human-4.svg') right bottom no-repeat,
        url('../img/noise-bg.svg') left top repeat;
}
.social-container{
    display: flex;
    align-items: center;
}
.fa{
    display: block;
  padding: 20px;
  font-size: 50px;
  width: 90px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
  }
.fa-youtube{
    color: #ff0000;
}

.fa-twitter{
    color: #1da1f2;
}

.fa-telegram{
    color: #0088cc;
}

.fa-github{
    color: #fff;
}
  
  .docImg{
    height: 400px;
    border: 1px solid white;
  }
  
  
  
@media only screen and (max-width: 1000px){
    .login{
        display: none;
    }

    .signup{
        display: none;
    }
    .home{
        background-image: none;
        height: 60vh;
    }
    .about{
        background-image: none;
        height: 60vh;
    }
    .about-two{
        display: none;
    }

    .docs ol img{
        display: none;
    }
}