<div class="container-fluid mt-2">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none fw-bold fs-2 me-5">
        NoteIT
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-white">About</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-white">Contact</a></li>
      </ul>


      <div class="text-end">
        <a href="/auth/google" type="button" class="btn btn-outline-light me-2 login">Login</a>
        <a href="/auth/google" class="btn btn-warning signup">Sign-up</a>
      </div>
    </div>
  </div>