<div class="container-fluid mt-2">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none fw-bold fs-2 me-5">
        NoteIT
      </a>

     <form class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-2 " role="search" method="POST" action="/dashboard/search">
        <div class="form-outline">
          <input type="search" id="form1" name="searchTerm" class="form-control" placeholder="Search Notes..."/>
        </div>
     </form>


      <div class="text-end">
        <a href="/logout" class="btn btn-warning signup">Sign Out</a>
      </div>
    </div>
  </div>