<div class="container-fluid container-fluid-custom py-md-5 mb-5 mt-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    Error 404. You're in the wrong place.
                </h1>
            </div>
        </div>
    </main>
</div>