<div class="about">
    <div class="container-fluid container-fluid-custom">
        <h2 class="mt-2">NoteIt- Your best Note Taking Companion</h2>
        <h3 class="mt-2">Introduction</h3>
        <h4>Overview</h4>
        <p class="mt-5 text-white">
            The Notes App is a simple and intuitive web application built to help users create, manage, and organize their notes. The app is built using the EJS templating engine, Node.js, Express.js, and MongoDB for the database. Its user-friendly interface and powerful features make it an ideal choice for users seeking an efficient note-taking solution.
        </p>
        <h4>Features</h4>
        <p class="text-white lh-base">
            <ul>
                <li>Create and store notes with titles and content.</li>
                <li>View a list of all notes.</li>
                <li>View details of a specific note.</li>
                <li>
                    Edit existing notes to update their content.
                </li>
                <li>Delete unwanted notes to keep the list clean and organized.</li>
            </ul>
        </p>
    </div>
</div>