<div class="docs">
    <div class="container-fluid container-fluid-custom ms-2">
        <h2 class="mt-2">Introduction</h2>
        <h4>Overview</h4>
        <p class="text-white">
            The Notes App is a simple and intuitive web application built to help users create, manage, and organize their notes. The app is built using the EJS templating engine, Node.js, Express.js, Bootstrap and MongoDB for the database. Its user-friendly interface and powerful features make it an ideal choice for users seeking an efficient note-taking solution.
        </p>
        <h4>Features</h4>
        <p class="text-white lh-base">
            <ul>
                <li>Create and store notes with titles and content.</li>
                <li>View a list of all notes.</li>
                <li>View details of a specific note.</li>
                <li>
                    Edit existing notes to update their content.
                </li>
                <li>Delete unwanted notes to keep the list clean and organized.</li>
                <li>Search for your notes.</li>
            </ul>
        </p>
        <h2 class="mt-2">Usage Guide</h2>
        <h4>Creating a Note</h4>
        <ol>
            <li>On the dashboard page, click on the "Add New Note" button.</li>
            <li>Enter a title and content for your note in the provided input fields.</li>
            <li>Click the "Add Note" button to store the note in the database.</li>
        </ol>
        <h4>Viewing a Note</h4>
        <ol>
            <li>The dashboard page displays a list of all your saved notes.</li>
            <li>Click on a note's title to view its content in detail.</li>
        </ol>

        <h4>Editing a Note</h4>
        <ol>
            <li>To edit a note, navigate to the note's detail page by clicking on its title.</li>
            <li>Modify the content of the note as desired.</li>
            <li>Click the "Update" button to update the note in the database.
            </li>
        </ol>

        <h4>Deleting a Note</h4>
        <ol>
            <li>To delete a note, navigate to the note's detail page by clicking on its title.</li>
            <li>Click the "Delete" button to remove the note from the database.</li>
        </ol>


        <h2 class="mt-2">Technologies Used</h2>
        <h4>EJS</h4>
        <p class="text-white">
            EJS is a templating engine that allows us to embed JavaScript code directly within HTML pages. It helps us render dynamic content on the client-side.
        </p>

        <h4>Node.js</h4>
        <p class="text-white">
            Node.js is a JavaScript runtime environment that allows us to execute JavaScript code outside of a web browser, making it possible to build server-side applications.
        </p>
        
        <h4>Express.js</h4>
        <p class="text-white">
            Express.js is a minimalist web application framework for Node.js, simplifying the process of building robust and scalable web applications.
        </p>

        <h4>MongoDB</h4>
        <p class="text-white">
            MongoDB is a NoSQL database that stores data in a JSON-like format. It provides flexibility and scalability, making it a popular choice for modern web applications.
        </p>

        <h4>Bootstrap</h4>
        <p class="text-white">
            Bootstrap is a powerful front-end framework that simplifies the process of designing responsive and visually appealing user interfaces. By utilizing Bootstrap, we can ensure that the Notes App looks great on various devices and screen sizes.
        </p>

        <h2 class="mt-2">Contributors</h2>
        <p>Amanuael Kebede - </p><a href="https://github.com/manuel-heav">Github</a>

        <img class="docImg" src="../img/creating.png" alt="creating">
    </div>
</div>