<div class="home container-fluid container-fluid-custom py-md-5 mb-5 mt-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    Jot, organize, elevate – in seconds.
                </h1>
                <p class="fs-4 mb-4">
                    NoteIT: Your intuitive note-taking companion, making capturing, organizing, and recalling information a breeze.
                </p>
                <a href="/auth/google" class="btn btn-warning btn-lg">Get Started!</a>
            </div>
        </div>
    </main>
</div>

<div class="about">
    <div class="container-fluid container-fluid-custom">
        <p class="mt-5 text-dark">
            At NoteIT, we believe that capturing and organizing your thoughts should be a seamless and delightful experience. We understand the power of ideas and the importance of having a reliable tool to keep track of them. Whether you're a student, professional, or creative individual, our note-taking app is designed to help you unlock your productivity and unleash your creativity.
        </p>
        <p class="text-dark lh-base">
    Our mission is simple: to provide you with a versatile and intuitive platform that enhances your note-taking process and empowers you to achieve more. We have crafted our app with meticulous attention to detail, focusing on user-friendly features and a beautiful, distraction-free interface. We want you to feel inspired and motivated every time you open our app, knowing that your ideas will be captured effortlessly and organized seamlessly.
        </p>
    </div>
</div>